.custom-card-img {
  width: 500px;
  height: 550px; /* Ajusta la altura según lo que necesites */
  object-fit: cover; /* Recorta la imagen para que se ajuste a la altura manteniendo la proporción */
}

.listing-location::before {
  content: url('../../../assets/location-ping.svg') / '';
}

span{
  display: block;
}
